{% extends "layout2.html" %}
{% block title %} {{ blog_name }} {% endblock %}

 {% block content %}
    {% if post is not none %}
    <h1>The requested post:</h1>

        <div class="card mb-3">
                  <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text"/>{{ post.author }} </p>
                <p class="card-text">{{ post.content }}</p>
                {% if post.image %}
                    <img src="{{ url_for('static', filename='images/' ~ post.image) }}"
                         class="card-img-top post-image"
                 style="height:900px" alt="{{ post.title }}"  >
                {% else %}
                    <img style="height:900px" src="{{ url_for('static', filename='images/ajax_default.jpeg') }}"
                         class="card-img-top post-image"
                         alt="Ajax blog image">
                {% endif %}
        </div>
    {% endif %}
{% endblock %}